<footer class="bg-light text-center py-3 mt-5">
  <div class="container">
    <p class="mb-1">© 2025 Re:Live</p>
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary me-2 btn-sm" %>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary btn-sm" %>
  </div>
</footer>