<nav class="navbar navbar-expand-lg navbar-light bg-light bg-relive">
  <div class="container">
    <a class="navbar-brand" href="/">Re:Live</a>
    <div class="ms-auto">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-primary me-2" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
    </div>
  </div>
</nav>