<div class="container mt-5 d-flex justify-content-center">
  <div style="width: 100%; max-width: 900px;">
    <h2 class="text-center my-4">アーティスト編集</h2>
        <%= render "form", artist: @artist %>
  </div>
</div>