<div class="container mt-5 d-flex justify-content-center">
  <div style="width: 100%; max-width: 900px;">
    <h2 class="text-center mb-4">アーティスト登録</h3>
        <%= render "form", artist: @artist %>
  </div>
</div>