<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-4">ライブ記録を編集する</h2>
      <div class="card shadow-sm p-4">
        <%= render "form", live_record: @live_record, artists: @artists, submit_label: "更新する" %>
      </div>
    </div>
  </div>
</div>